body{background-color: black}
.img-fluid {width: 800px;}
h1{font-family: 'Permanent Marker', cursive;text-align: center;color: white;}
.navbar{font-family: 'Fredoka One', cursive;}
a{font-family: 'Shadows Into Light', cursive;}
.aboutus{font-family: 'Permanent Marker', cursive;}
.footer{color: white;}
p {font-family: 'Jura', sans-serif;}
.logo {width: 40px}