.display-4{font-family: 'Monoton', cursive; color: white;}
.col-sm{font-family: 'VT323', monospace; text-align: center; color: white; font-size: 20px}
b {font-size: 40px}
.isi{font-family: 'Gochi Hand', cursive; text-align: left;color: white}
.lead{font-family: 'Press Start 2P', cursive; color: white}
.akhir{font-family: 'Fredericka the Great', cursive;}