h1 {color: #4d004d}
h2 {color: #66B032}

#nav {border : 10px solid yellow; margin:10PX 5PX 15px 5px;}
#nav a {text-decoration: none;color: black
}
a	{text-decoration: none;font-family}
.penjelasan {font-family:comic;font-variant:small-caps;}